@charset "UTF-8";
/*

  Con este reset vamos a resolver:
    游녤 Unificar el uso de Custom Properties
    游녤 Problemas de box-model m치s generales
    游녤 Problemas con imagenes, v칤deos e iconos svg
    游녤 Problemas con tipograf칤as y etiquetas input en formularios
    游녤 Unificar la tipograf칤a de todas las etiquetas de una web

*/
/* Aqu칤 definimos las Custom properties */
:root {
  --negro: #393939;
  --blanco: #f9f9f9;
  --cafe: #6e5228;
  /* Tipograf칤a */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  /* :root{
      --negro         : #f4f4f4;
      --blanco        : #1a1a1a;
  } */
}
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
     object-fit: cover;
  /* opcional */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en p치rrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipograf칤as y colocaci칩n de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Prob치ndolo, no usar en producci칩n) En el caso de a침adir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipograf칤a para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  /* line-height: 1.4em; */
  /* opcional */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

.header {
  width: 100%;
  height: 700px;
  padding-top: 1em;
  background: var(--cafe) url();
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.header__nav {
  margin: auto;
  width: 100%;
  max-width: 50em;
}
.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--blanco);
  gap: 2em;
}
.header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--blanco);
}
.header__title {
  font-size: 3.12em;
}
.header__parra {
  font-size: 1.5em;
  opacity: 0.5;
  font-style: italic;
}
.header span {
  opacity: 0.5;
}

.about {
  width: 80%;
  max-width: 59em;
  margin: auto;
}
.about__relative {
  position: relative;
}
.about__img {
  position: absolute;
  top: -3.12em;
  left: 0;
  width: 80%;
  height: 380px;
  z-index: 0;
  background: violet;
  -webkit-box-shadow: 0 0 0.9em rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 0.9em rgba(0, 0, 0, 0.35);
}
.about__article {
  position: relative;
  top: 10.25em;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2em;
  width: 50%;
  padding: 2.5em 2em;
  z-index: 1;
  background: var(--blanco);
  -webkit-box-shadow: 0 0 0.9em rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 0.9em rgba(0, 0, 0, 0.35);
}
.about__title {
  font-size: 2.5em;
}
.about__parra {
  line-height: 1.5em;
}

.main {
  margin: 11em auto 2.5em;
  width: 80%;
  max-width: 59em;
  padding: 0.5em;
}
.main__title {
  margin: 0.5em 0 1.2em;
  font-size: 2em;
  text-align: center;
}
.main__carts, .main__carts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 99.5%;
  padding: 0.5em;
  border: 1px double var(--negro);
}
.main__article {
  padding: 1.5em;
}
.main__category {
  margin: 0.5em 0 2em;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}
.main__food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.8em;
  padding-bottom: 1em;
  border-bottom: 0.3em dotted var(--negro);
  line-height: 1.5em;
}
.main__name {
  width: 90%;
  font-size: 1.3em;
}
.main__price {
  width: 10%;
  font-size: 1.3em;
  text-align: end;
}
.main__description {
  opacity: 0.8;
}

.galeria {
  width: 100%;
  max-width: 90em;
  margin: auto;
}
.galeria ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}
.galeria__li {
  width: 25%;
}
.galeria__img {
  width: 400px;
  height: 400px;
  opacity: 0.7;
  background: lightblue;
  transition: opacity 30ms ease;
  -webkit-transition: opacity 30ms ease;
  -moz-transition: opacity 30ms ease;
  -ms-transition: opacity 30ms ease;
  -o-transition: opacity 30ms ease;
}
.galeria__img:hover {
  opacity: 1;
  -webkit-transition: opacity 30ms ease;
  transition: opacity 30ms ease;
  -webkit-transition: opacity 450ms ease;
  -moz-transition: opacity 450ms ease;
  -ms-transition: opacity 450ms ease;
  -o-transition: opacity 450ms ease;
}

.location {
  width: 90%;
  max-width: 50em;
  margin: auto;
  overflow: hidden;
}