@mixin flex ($dis, $direction, $corte, $just, $align ) {
    display: $dis;
    flex-flow:  $direction $corte;
    justify-content: $just;
    align-items: $align;
}

// Galeria

.galeria{
    width: 100%;
    max-width: 90em;
    margin: auto;
    ul{
        @include flex(flex, row, wrap, center, center);
        gap: 0;
    }
    &__li{
        width: 25%;
    }
    &__img{
        width: 400px;
        height: 400px;
        opacity: .7;
        background: lightblue;
        transition: opacity 30ms ease;
        -webkit-transition: opacity 30ms ease;
        -moz-transition: opacity 30ms ease;
        -ms-transition: opacity 30ms ease;
        -o-transition: opacity 30ms ease;
}
    &__img:hover{
        opacity: 1;
        transition: opacity 30ms ease;
        -webkit-transition: opacity 450ms ease;
        -moz-transition: opacity 450ms ease;
        -ms-transition: opacity 450ms ease;
        -o-transition: opacity 450ms ease;
}
}