@mixin flex ($dis, $direction, $corte, $just, $align ) {
    display: $dis;
    flex-flow:  $direction $corte;
    justify-content: $just;
    align-items: $align;
}

//  Location

.location{
    @include flex(flex, row, wrap, space-between, center);
    margin: auto;
    padding: 3.75em 0;
    width: 90%;
    max-width: 59em; 
    gap: 2em;
    text-align: center;
    &__title{
        width: 100%;
        text-align: center;
        font-size: 2.5em;
    }
    &__schedule{
        @include flex(flex, row, wrap, space-between, center);
        width: 50%;
        h3{
            margin-bottom: 1em;
            width: 100%;
            font-weight: bold;
        }
    } 
}

@media screen and (max-width: 800px){
    .location{
        @include flex(flex, column, wrap, space-between, center);
        &__schedule{
            @include flex(flex, column, wrap, space-between, center);
        } 
    }
}